.card__row {
    margin: 0 0 48px 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

.card__row:last-child {
    margin-bottom: 0;
}

@media (min-width:1280px) {
    .card__row {
        gap: 40px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .card__row {
        gap: 28px;
    }
}

@media (max-width:767px) {
    .card__row {
        flex-wrap: wrap;
        gap: 32px;
        margin-bottom: 32px;
    }

}