.photo-grid {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (min-width: 1280px) {
    .photo-grid {
        gap: 16px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .photo-grid {
        gap: 16px;
    }
}

@media (max-width:768px) {
    .photo-grid {
        gap: 12px;
    }
}