.card__paragraph {
  margin: 0 auto 26px auto;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
}

@media (max-width: 768px) {
  .card__paragraph {
    font-size: 16px;
  }
}

.card__paragraph:last-child {
  margin: 0 auto;
}
