.page__intro {
    margin: 92px auto 92px 48px;
}

@media (min-width: 1280px) {
    .page__intro {
        margin: 92px auto 92px 100px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .page__intro {
        margin: 88px auto;
    }
}

@media (max-width: 768px) {
    .page__intro {
        margin: 64px auto;
    }
}