.lead__title {
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 720px;
    min-width: 288px;
    max-height: 200px;
    min-height: 88px;
    margin: 0 auto 32px auto;
    padding: 0;

}


@media (max-width: 767px) {
    .lead__title {
        max-width: 288px;
        max-height: 88px;
        font-family: Inter;
        font-size: 40px;

        line-height: 44px;
        letter-spacing: 0em;
    }
}

