.lead__image {
    display: block;
    box-sizing: border-box;
    width: 928px;
    max-height: 615px;
    object-fit: contain;
}

@media (min-width: 1280px) {
    .lead__image {
        width: 984px;
        height: 615px;
    }
}

@media (max-width: 1023px) {
    .lead__image {
        width: 100%;
    }
}