.card__image {
    width: 440px;
    height: 440px;
    object-fit: contain;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media (min-width:1280px) {
    .card__image {
        width: 460px;
        height: 460px;
    }
}

@media (min-width:768px) and (max-width:1023px) {
    .card__image {
        width: 340px;
        height: 340px;
    }
}

@media (max-width:767px) {
    .card__image {
        width: 100%;
        height: auto;
        }
}

