.page__places {
    margin: 92px 48px;
}

@media (min-width: 1280px) {
    .page__places {
        margin: 92px 148px 92px 100px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .page__places {
        margin: 88px 24px 90px 24px;
    }
}

@media (max-width:768px) {
    .page__places {
        margin: 64px auto 66px auto;
    }
}