.cover__title {

    margin: 0 auto 0 auto;

    width: 560px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    /* or 106% */

    text-align: center;

    color: #FFFFFF;
    z-index: 3;


}

@media (max-width: 767px) {
    .cover__title {
        width: 288px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        /* or 109% */

        text-align: center;

        color: #FFFFFF;
    }
}