.page__photo-wall {
  margin: 92px auto;
}

@media (max-width:1023px) {
  .page__photo-wall {
    margin: 88px auto;
  }
}

@media (max-width:767px) {
  .page__photo-wall {
    margin: 64px auto;
  }
}
