.header__lang-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 0 6px 0;
    padding: 0;
    gap: 18px;
    list-style: none;
}

@media (max-width: 767px) {
    .header__lang-links {
        margin-bottom: 8px;
    }
}