.page__footer {
  margin: 92px 48px 0 48px;
}

@media (max-width:1023px) {
  .page__footer {
    margin: 88px 24px 0 24px;
  }
}

@media (max-width:767px) {
  .page__footer {
    margin: 64px auto 0 auto;
  }
}

@media (min-width:1280px) {
  .page__footer {
    margin: 92px auto 0 auto;
  }
}
