.page__footer {
    margin: 92px 48px 0 48px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .page__footer {
        margin: 88px 24px 24px 24px;
    }
}

@media (max-width: 768px) {
    .page__footer {
        margin: 64px auto 0px auto;
    }
}

@media (min-width: 1280px) {
    .page__footer {
        margin: 92px auto 0 auto;
    }
}