.card {
    width: 928px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 0;
}

@media (min-width: 1280px) {
    .card {
        width: 984px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .card {
        width: 720px;
        gap: 73px;
    }
}

@media (max-width:767px) {
    .card {
        max-width: 100%;
        gap: 50px;
    }
}